css
body {
    background-color: #1b1e21;;
}

.logotipo {
    width: 500px;
    height: 500px;
}
header {
    height: 60px;
}

main {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    height: 25px;
}
