css
body {
    background-color: #1b1e21;;
}

.logotipo {
    width: 500px;
    height: 500px;
}
header {
    height: 60px;
}

.my-form {
    width: 70%;
}

.navbar-blue {
    background-color: #c1eefb;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    height: 25px;
}
